<plugin name='easygrid' version='0.9.9' grailsVersion='2.1.0 &gt; *'>
  <author>Tudor Malene</author>
  <authorEmail>tudor.malene@gmail.com</authorEmail>
  <title>Easygrid Plugin</title>
  <description>        EasyGrid provides a convenient and agile way of defining Data Grids.
    </description>
  <documentation>http://grails.org/plugin/easygrid</documentation>
  <type>EasygridGrailsPlugin</type>
  <resources>
    <resource>EasygridGrailsPluginResources</resource>
    <resource>spring.resources</resource>
    <resource>org.grails.plugin.easygrid.TestDomainController</resource>
    <resource>org.grails.plugin.easygrid.TestDomain</resource>
    <resource>org.grails.plugin.easygrid.EasyGridExportService</resource>
    <resource>org.grails.plugin.easygrid.EasygridService</resource>
    <resource>org.grails.plugin.easygrid.datasource.CustomDatasourceService</resource>
    <resource>org.grails.plugin.easygrid.datasource.GormDatasourceService</resource>
    <resource>org.grails.plugin.easygrid.datasource.ListDatasourceService</resource>
    <resource>org.grails.plugin.easygrid.grids.ClassicGridService</resource>
    <resource>org.grails.plugin.easygrid.grids.DatatableGridService</resource>
    <resource>org.grails.plugin.easygrid.grids.JqueryGridService</resource>
    <resource>org.grails.plugin.easygrid.grids.TestGridService</resource>
    <resource>org.grails.plugin.easygrid.grids.VisualizationGridService</resource>
    <resource>org.codehaus.groovy.grails.plugins.easygrid.EasygridTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='postgresql' name='postgresql' version='8.4-702.jdbc3' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='cache' version='1.0.0' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='jquery' version='1.7.2' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.0' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.24' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='export' version='1.5' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.1' />
      <plugin group='org.grails.plugins' name='google-visualization' version='0.5.6' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>